body{
    margin: 0;
    padding: 0%;
    background: linear-gradient(-150deg, rgb(51, 5, 138), rgb(180, 39, 175));  /* From https://github.com/Gonzagadavid/linear-gradient-CSS*/
    color: white;
    font-family: Helvetica;
}

.nav-bar ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;  
}

.nav-bar ul {
    margin-left: 10%;
}

.nav-bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;

}

a:visited {
    color: white;
}

#about {
    margin: 10px 80px;
    background: rgba(255, 255, 255, 0.22);     /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
}

#picture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px groove white;
    margin-top: 60px;
    margin-left: 150px;
}

h1 {
    margin-left: 175px;
    font-size: 35px;
}

p {
    font-size: 18px;
    position: absolute;
    width: 800px;
    left: 580px;
    top: 140px;
    line-height: 30px;
}

#about ul {
    list-style-type: none;
    margin-left: 950px;
}

#about ul li {
    display: inline;
}

#skills {
    display: inline-block;
    margin-left: 400px;
}

#skills ul li {
    list-style-type:square;
    line-height: 25px;
    text-transform: uppercase;  
}

#skills li:nth-of-type(even){
    font-weight: bold;
} 

#project {
    display: inline-block;
    margin-left: 550px;
    position: absolute;
}

#project ul li {
    list-style-type:square;
    line-height: 25px;
    text-transform: uppercase; 
}

#project li:nth-of-type(odd){
    font-weight: bold;
} 
