
body{
    margin: 0;
    height: 100%;
    color: black;
}

.container{
    text-align: center;
    background: linear-gradient(220deg, rgb(114, 42, 143),rgb(98, 88, 212)); 
    
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0; /* corrigi a margem superior: inspecionar elemento  */
}

a:visited{
    color: black
}

.nav-bar{
    top: 0;
    width: 100%;


}

.nav-bar li {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: bold;
    display: inline-block;
    margin: 20px 50px;
    padding: 20px
    
    
}

#foto{
    border-radius: 40px;
    width: 300px;
    padding: 5px;
    background-color: #4B296B;
    
}

h1{
    font-family: Verdana;
           
}

.porfile li{
    display: inline-block;
        
}

.about, .skills{
    font-family: Helvetica;
    text-align: justify;
    width: 50%;
    display: inline-block; /* centraliza o conteúdo na página*/
    line-height: 25px;
    font-weight: 400;
   
}

.trybe, h2, h3 {
    text-transform: uppercase;
}

.skills ul li {
    list-style-type:square;
}

em {
    text-transform: none;
    font-style: normal;
}

.block {
    
    width: 100%;
    display: inline-block;
    
}

.about{
    float: right;
    width: 50%;
    margin: 105px 40px;

}

.porfile{
    width: 45%;
    float: left;
    position: absolute;
    left: 200px;
   
}

.about p{
    margin-right: 140px;
    
}

.skills li:nth-of-type(odd){
    font-weight: bold;
}

.skills{
    padding: 50px;
}